<div id="__flux_stores_root__">{{{fluxStoreContent}}}</div>
<div id="__page_root__" class="page-root">{{{pageContent}}}</div>
<script type="text/javascript" src="/{{params.instanceName}}/resources/app.js">
    <!-- app javascript -->
</script>
